:root {
  --primary-light: rgba(243, 237, 237, 0.8);
  --primary-dark: rgba(40, 44, 52, 1);
  --bg-light: linear-gradient(135deg, #f1f1f1, #949393fd);
  --bg-dark: linear-gradient(135deg, #363636, #282529);
  --menu-bg: rgba(255, 255, 255, 0.2);
  --border-color-dark: rgba(226, 226, 226, 0.5);
  --border-color-light: rgba(117, 117, 117);
  --button-background-color-light: rgba(146, 146, 146, 0.5);
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: var(--bg-dark);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--primary-light);
  transition: color 0.75s ease;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-light);
  opacity: 0;
  transition: opacity 0.75s ease;
  z-index: -1;
}

body.light-theme::before {
  opacity: 1;
}
body.light-theme {
  background: var(--bg-light);
  color: var(--primary-dark);
}

.homepageLink {
  text-decoration: none;
  color: var(--primary-color);
}

.MessageList {
  list-style-type: none;
  width: 30vw;
}

.message {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -40px;
  animation: slideIn 0.2s ease-in-out forwards;
}

.username {
  font-weight: bolder;
  font-size: 1.1em;
}

.sendMessageInput {
  all: unset;
  border: 2px solid;
  border-color: var(--border-color-dark);
  backdrop-filter: blur(15px);
  background-color: rgba(146, 146, 146, 0.5);
  border-radius: 15px;
  transition: all 1s ease;
  text-align: center;
  resize: "none";
  overflow: "hidden";
  width: "100%";
}

.sendMessageInput:hover {
  background-color: rgba(184, 183, 183, 0.5);
}

body.light-theme .sendMessageInput {
  border-color: var(--border-color-light);
}

button.sendMessageButton {
  all: unset;
}

.sendMessageImage {
  transform: translateY(2px);
  width: 23px;
  height: 23px;
}

.sendMessageForm {
  display: flex;
  gap: 10px;
}

.websiteHeader {
  display: flex;
  align-items: center;
  gap: 0px;
}

.userProfile {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: -2vw;
  align-items: center;
  gap: 10px;
}

.interactionComponents {
  display: flex;
  width: 100vw;
}

.profileName {
  display: flex;
}

.DropDown {
  border: 2px solid;
  border-color: var(--border-color-dark);
  border-radius: 22px;
  position: relative;
}

.profileButton {
  display: flex;
  gap: 6px;
  color: #a7a7a7;
}

button.profileButton div {
  color: rgb(190, 190, 190);
}

body.light-theme button.profileButton div {
  color: rgb(121, 117, 117);
}

body.light-theme .DropDown {
  border: 2px solid;
  border-color: var(--border-color-light);
  border-radius: 22px;
  background-color: var(--button-background-color-light);
}
body.light-theme .DropDown button {
  color: rgb(75, 75, 75);
}

.DropDown button {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: all 0.75s ease;
}

.DropDown button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.Menu {
  border: 2px solid red;
  border-color: var(--border-color-dark);
  position: absolute;
  top: 100%;
  right: 200;
  background: var(--menu-bg);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  min-width: 150px;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.2s ease-out, transform 0.2s ease;
  z-index: 100;
  pointer-events: none;
  left: -110px;
  top: 50px;
}

h1 {
}

body.light-theme .Menu {
  border-color: var(--border-color-light);
}

.Menu.show {
  opacity: 1;
  transform: translateY(20px), translateX(-60px);
  pointer-events: auto;
}

.Menu.hide {
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
}

.Menu .menu-item {
  display: block;
  padding: 10px;
  text-align: center;
  color: white;
  background: var(--menu-bg);
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

.Menu .friends a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.Menu button.logout.menu-item {
  all: unset;
  display: block;
  padding: 10px;
  width: 130px;
  text-align: center;
  background-color: rgba(250, 250, 250, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  transition: background-color 0.3s ease;
}

.Menu .menu-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.Menu button.logout.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.DropDown .Menu.active {
  display: block;
  text-align: center;
  width: 30px;
  opacity: 1;
  transform: translateX(-100px) translateY(5px);
  animation: appear 0.3s ease-in-out;
}

body.light-theme .Menu .menu-item {
  color: rgba(0, 0, 0, 1);
}

body.light-theme .Menu .menu-item:hover {
  background-color: rgba(139, 139, 139, 0.5);
}

.DropDown.active .Menu {
  opacity: 1;
  transform: translateY(0);
}

button.friendsButton {
  all: unset;
  color: rgba(255, 255, 255, 1);
  width: 100%;
}

button.friendsButton:hover {
  background-color: rgba(185, 185, 185, 0);
}

.signup {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bolder;
}

.chatList {
  padding: 15px;
  border: 2px solid;
  border-color: var(--border-color-dark);
  background-color: rgba(155, 155, 155, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 4vw;
}

body.light-theme .chatList {
  background-color: rgba(179, 177, 177, 0.5);
  backdrop-filter: blur(20px);
  border: 2px solid;
  border-color: var(--border-color-light);
}

.chat {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.chat button {
  all: unset;
  width: 100%;
  background: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.chat button:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: all ease 1s;
}

body.light-theme .chat button:hover {
  background-color: rgba(139, 139, 139, 0.5);
}

.searchBar {
  margin-left: auto;
  position: relative;
  border: 2px solid;
  border-color: var(--border-color-dark);
  border-radius: 20px;
}

.searchBar input {
  width: 7vw;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: white;
  transition: all 0.7s ease;
}

.searchBar input::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  transition: 2s;
}

.searchBar:hover {
  background: rgba(255, 255, 255, 0.452);
  transition: background-color ease 0.7s;
  border-radius: 30px;
  height: 35px;
}

.searchBar input:focus {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  width: 20vw;
  outline: none;
}

body.light-theme .searchBar {
  border: 2px solid;
  border-color: var(--border-color-light);
}

body.light-theme .searchBar input {
  background: rgba(0, 0, 0, 0.1);
  color: var(--primary-dark);
}

body.light-theme .searchBar input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.searchResults {
  position: absolute;
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 100;
  list-style: none;
  padding: 20px;
  gap: 10px;
  transform: translateX(10px);
  transition: all ease 0.7s;
}

body.light-theme .searchResults {
  background-color: rgba(114, 114, 114, 0.2);
}

.searchOption {
  width: 100%;
  text-align: center;
}

.searchOption a {
  width: 100%;
  padding: 3px;
  text-decoration: none;
  color: rgba(243, 237, 237, 0.8);
  z-index: 100;
}

.searchOption a:hover {
  background-color: rgba(139, 139, 139, 0.5);
  transition: all 0.4s ease;
  border-radius: 5px;
}

body.light-theme .searchOption {
  transition: all 0.4s ease;
  border-radius: 5px;
}

body.light-theme .searchOption a {
  padding-left: 30%;
  padding-right: 30%;
  color: rgba(0, 0, 0, 1);
}

.themeToggle {
  border: 2px solid red;
  border-color: var(--border-color-dark);
  background: rgba(255, 255, 255, 0.2);

  margin-right: 10vw;
  backdrop-filter: blur(10px);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: all 0.7s ease;
}

button.themeToggle {
  border: 2px solid;
  border-color: var(--border-color-dark);
}

body.light-theme button.themeToggle {
  border: 2px solid;
  border-color: var(--border-color-light);
  background-color: rgba(179, 177, 177, 0.5);
}

body.light-theme button.themeToggle:hover {
  background: rgba(184, 183, 183, 0.5);
}

.themeToggle:hover {
  background: rgba(255, 255, 255, 0.3);
}

.notifications {
  display: flex;
  background-color: rgba(187, 0, 0, 0.822);
  border-radius: 40px;
  width: 20px;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  margin-left: 10px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
}

.friendRequestNotifications {
  display: flex;
  background-color: rgba(187, 0, 0, 0.822);
  border-radius: 40px;
  width: 20px;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  margin-left: 10px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
}

.friendRequests {
  display: flex;
  align-items: center;
}

.friendsContent {
}

.friend {
  list-style: none;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  margin-bottom: 2px;
}

.messageHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.messageText {
  margin-left: 10px;
}

.online {
  border: 2px solid;
  border-color: rgba(75, 74, 74, 0.5);
  width: 20px;
  height: 10px;
  background-color: rgb(116, 175, 116);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 20px, 20px, 20px, rgba(114, 114, 114, 0.2);
}

body.light-theme .online {
  background-color: rgba(99, 190, 111, 0.5);
  border-color: rgb(155, 155, 155);
}

.date {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border-bottom: solid grey;
}

.main {
  display: flex;
  gap: 20px;
  margin-right: 25vw;
}

.timeElapsed {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  top: -5px;
}

.mainChat {
  width: 80%;
  margin: 0 auto;
  max-height: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.mainContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-left: 12vw;
}

.sendMessage {
}
.sideBar {
  transform: translateY(20px);
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #a7a7a7;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  50% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
