:root {
  --primary-light: rgba(243, 237, 237, 0.8);
  --primary-dark: rgba(40, 44, 52, 1);
  --bg-light: linear-gradient(135deg, #f1f1f1, #949393fd);
  --bg-dark: linear-gradient(135deg, #363636, #222222);
  --menu-bg: rgba(163, 163, 163, 0.6);
  --border-color-dark: rgba(226, 226, 226, 0.5);
  --border-color-light: rgba(117, 117, 117);
  --button-background-color-light: rgba(146, 146, 146, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-dark);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--primary-light);
  transition: color 0.75s ease;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-light);
  opacity: 0;
  transition: opacity 0.75s ease;
  z-index: -1;
}

body.light-theme::before {
  opacity: 1;
}
body.light-theme {
  background: var(--bg-light);
  color: var(--primary-dark);
}

.homepageLink {
  text-decoration: none;
  color: var(--primary-color);
  width: 200px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(80%);
  padding-left: 25%;
  padding-right: 25%;
}

.usernameInput {
  all: unset;
  border-radius: 15px;
  background-color: rgba(179, 177, 177, 0.5);
  border: 2px solid;
  border-color: #9b9898;
  padding-left: 20px;
  height: 30px;
  transition: background-color 0.6s ease;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.usernameInput:focus {
  background-color: rgba(163, 163, 163, 0.9);
}

.passwordInput {
  all: unset;
  border-radius: 15px;
  border: 2px solid;
  border-color: #9b9898;
  background-color: rgba(179, 177, 177, 0.5);
  padding-left: 20px;
  height: 30px;
  transform: translateX(6px);
  transition: background-color 0.6s ease;
}

.passwordInput:focus {
  background-color: rgba(163, 163, 163, 0.9);
}

button.loginButton {
  all: unset;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  border: 2px solid;
  border-color: #808080;
  background-color: rgba(168, 168, 168, 0.5);
  transition: all ease 0.7s;
  width: 150px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 16px;
}

button.loginButton:hover {
  background-color: rgba(240, 240, 240, 0.527);
}

body.light-theme button.loginButton:hover{
  background-color: rgba(131, 131, 131, 0.5);
}

.MessageList {
  list-style-type: none;
  width: 30vw;
}

.message {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -40px;
  animation: slideIn 0.2s ease-in-out forwards;
}

.messageNotification{
  width: 28px;
  height: 14px;
  background-color: rgb(126, 0, 0);
  border-radius: 50%;
}

.div {
  border-bottom: 1px solid;
}

.username {
  font-weight: 600;
  border-bottom: 1px solid;
}

.sendMessageInput {
  box-sizing: border-box;
  border: 2px solid var(--border-color-dark);
  background-color: rgba(146, 146, 146, 0.5);
  border-radius: 15px;
  transition: all 0.3s ease;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 12px;
  resize: none;
  overflow: hidden;
  width: 30vw;
  color: inherit;
  font-family: inherit;
}

.sendMessageInput:hover {
  background-color: rgba(184, 183, 183, 0.5);
}

body.light-theme .sendMessageInput {
  border-color: var(--border-color-light);
}

button.sendMessageButton {
  all: unset;
  cursor: pointer;
}

.sendMessageImage {
  transform: translateY(2px);
  width: 23px;
  height: 23px;
}

.sendMessageForm {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}

.websiteHeader {
  display: flex;
  align-items: center;
  gap: 0px;
  position: relative;
  z-index: 100;
}

.welcomeHeader {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  background: linear-gradient(to right, #ffffff, #3a3939);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-left: 30px;
  opacity: 0;
  transform: translateY(-3px);
  animation: fadeSlideIn 0.8s ease-out forwards;
}

body.light-theme .welcomeHeader {
  background: linear-gradient(to right, #444, #222);
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  background: linear-gradient(to right, #4e4e4e, #bebebe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-left: 30px;
  opacity: 0;
  transform: translateY(-3px);
  animation: fadeSlideIn 0.8s ease-out forwards;
}

.userProfile {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: -2vw;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transform: translateY(-3px);
  animation: fadeSlideIn 0.8s ease-out forwards;
}

.interactionComponents {
  display: flex;
  width: 100vw;
  position: relative;
}

.profileName {
  display: flex;
}

.DropDown {
  border: 2px solid;
  border-color: var(--border-color-dark);
  border-radius: 22px;
  position: relative;
  z-index: 100;
}

.dropdownButton {
  display: flex;
  gap: 6px;
  color: #a7a7a7;
}

button.profileButton div {
}

.editProfilePicture{
  display: flex;
  flex-direction: column;
}

.userProfilePage button.changeProfilePicture{
  width: 50%;
}

.aboutMeSection{
  margin-top: 30px;
  margin-bottom: 30px;
}

.aboutMeHeader{
  font-weight: bolder;
  border-bottom: 1px solid;
  width: 30%;
}

.editAboutMe{
  display:flex;
  flex-direction: column;
  padding-right: 250px;
}

.userProfilePage .editAboutMe button{
  margin-right: 20px;
  width: 85px;
}

body.light-theme button.profileButton div {
  color: rgb(121, 117, 117);
}

body.light-theme .DropDown {
  border: 2px solid;
  border-color: var(--border-color-light);
  border-radius: 22px;
  background-color: var(--button-background-color-light);
}
body.light-theme .DropDown button {
  color: rgb(75, 75, 75);
}

.usernameForm{
  display:flex;
  gap: 10px;
  align-items: center;
}

.passwordForm{
  display: flex;
  gap:10px;
}

.DropDown button {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: all 0.75s ease;
}

.DropDown button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.Menu {
  position: absolute;
  top: 110%;
  left: 0;
  background: var(--menu-bg);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  min-width: 150px;
  opacity: 0;
  transform: translateY(10px) translateX(-120px);
  transition: opacity 0.2s ease-out, transform 0.2s ease;
  pointer-events: none;
}

body.light-theme .Menu {
  border-color: var(--border-color-light);
}

.Menu.show {
  opacity: 1;
  pointer-events: auto;
}

.Menu.hide {
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
}

.Menu .menu-item {
  display: flex;
  padding: 10px;
  text-align: center;
  color: white;
  background: var(--menu-bg);
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

.Menu .profile.menu-item {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.Menu .friends.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Menu .profile a {
  color: inherit;
  text-decoration: none;
  transform: color 0.3s ease;
  padding-left: 40%;
  padding-right: 40%;
}

.profile .menu-item {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.Menu .friends a {
  color: inherit;
  text-decoration: none;
}

button.profileButton {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;

  transition: color 0s ease;
}

button.profileButton:hover {
  background-color: rgba(0, 0, 0, 0);
}

.Menu button.profileButton.menu-item {
  transition: all 0.3s ease;
}

.Menu button.logout.menu-item {
  all: unset;
  display: block;
  padding: 10px;
  width: 130px;
  text-align: center;
  background-color: rgba(250, 250, 250, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  transition: background-color 0.3s ease;
}

.Menu .menu-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.Menu button.logout.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.DropDown .Menu.active {
  text-align: center;
  width: 30px;
  opacity: 1;
  transform: translateX(-100px) translateY(5px);
  animation: appear 0.3s ease-in-out;
}

body.light-theme .Menu .menu-item {
  color: rgba(0, 0, 0, 1);
}

body.light-theme .Menu .menu-item:hover {
  background-color: rgba(139, 139, 139, 0.5);
}

.DropDown.active .Menu {
  opacity: 1;
  transform: translateY(0);
}

button.friendsButton {
  all: unset;
  padding-left: 100%;
  padding-right: 100%;
  color: rgba(255, 255, 255, 1);
  transform: translateX(-55px);
}

button.friendsButton:hover {
  background-color: rgba(185, 185, 185, 0);
}

.signup {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 1px solid;
  margin-left: auto;
}

a.signup {
}

.chatList {
  width: 200px;
  padding: 15px;
  border: 2px solid;
  border-color: var(--border-color-dark);
  background-color: rgba(129, 129, 129, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  box-shadow: 4px 4px 10px rgb(10, 10, 10);
  transition: width 1s ease;
  gap:10px;
}

.chatList.show {
  width: 200px;
}

.chatButton .show {
  color: red;
}

.chat .show {
  transition: width 3s ease;
}

body.light-theme .chatList {
  background-color: rgba(122, 122, 122, 0.3);
  box-shadow: 4px 4px 10px rgb(105, 105, 105);
  border: 2px solid;
  border-color: var(--border-color-light);
}

.chat {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.chat button {
  all: unset;
  width: 100%;
  background: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.chat button:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: all ease 1s;
}

body.light-theme .chat button:hover {
  background-color: rgba(139, 139, 139, 0.5);
}

.searchBar {
  margin-left: auto;
  position: relative;
  border: 2px solid;
  border-color: var(--border-color-dark);
  border-radius: 20px;
  opacity: 0;
  animation: fadeSlideIn 0.8s ease-out forwards;
}

.searchBar input {
  width: 7vw;
  text-align: center;
  padding: 10px;
  padding-bottom: 11px;
  border: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  transition: all 0.7s ease;
}

.searchBar input::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  transition: 2s;
}

.searchBar:hover {
  background: rgba(99, 99, 99, 0.452);
  transition: background-color ease 0.7s;
  border-radius: 20px;
}

.searchBar input:focus {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  width: 20vw;
  outline: none;
}

body.light-theme .searchBar {
  border: 2px solid;
  border-color: var(--border-color-light);
}

body.light-theme .searchBar input {
  background: rgba(0, 0, 0, 0.1);
  color: var(--primary-dark);
}

body.light-theme .searchBar input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

body.light-theme .searchBar:hover {
  background-color: rgba(240, 240, 240, 0.5);
}

.searchComponent {
  position: relative;
  margin-left: auto;
}

.searchResults {
  position: absolute;
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-clip: padding-box;
  opacity: 1;
  background-color: rgba(116, 116, 116, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  z-index: 100;
  list-style: none;
  padding: 20px;
  gap: 10px;
  transition: all ease 0.7s;
  z-index: 1;
  box-shadow: 4px 4px 4px rgba(10, 10, 10, 0.562);
  transform: translateX(10px);
}

.userListItem {
  all: unset;
  padding-left: 30%;
  padding-right: 30%;
  transition: all ease 1s;
  border-radius: 10px;
}

body.light-theme .userListItem {
  color: rgb(56, 56, 56);
}

.userListItem:hover {
  background-color: #5a5a5a;
}

body.light-theme .userListItem:hover {
  background-color: rgba(139, 139, 139, 0.5);
}

body.light-theme .searchResults {
  background-color: rgba(114, 114, 114, 0.2);
}

.searchOption {
  width: 100%;
  text-align: center;
}

.searchOption a {
  width: 100%;
  padding: 3px;
  text-decoration: none;
  color: rgba(243, 237, 237, 0.8);
  z-index: 100;
}

.searchOption a:hover {
  transition: all 0.4s ease;
  border-radius: 5px;
}

body.light-theme .searchOption {
  transition: all 0.4s ease;
  border-radius: 5px;
}

body.light-theme .searchOption a {
  color: rgba(0, 0, 0, 1);
}

.themeToggle {
  border: 2px solid;
  border-color: var(--border-color-dark);
  background: rgba(255, 255, 255, 0.2);

  margin-right: 10vw;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: all 0.7s ease;
}

button.themeToggle {
  border: 2px solid;
  border-color: var(--border-color-dark);
}

body.light-theme button.themeToggle {
  border: 2px solid;
  border-color: var(--border-color-light);
  background-color: rgba(179, 177, 177, 0.5);
}

body.light-theme button.themeToggle:hover {
  background: rgba(184, 183, 183, 0.5);
}

.themeToggle:hover {
  background: rgba(255, 255, 255, 0.3);
}

.themeToggle.noUser {
  margin-left: auto;
}

.notifications {
  display: flex;
  background-color: rgb(148, 40, 40);
  color: rgb(194, 194, 194);
  border-radius: 40px;
  width: 8px;
  height: 14px;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transform: translateX(90px) translateY(-15px);
  z-index: 999;
}

.friendRequestNotifications {
  display: flex;
  /*background-color: rgba(134, 27, 27, 0.822);*/
  border-radius: 40px;
  width: 8px;
  height: 14px;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  margin-left: 10px;
  transform: translateX(0) translateY(0);
}

.friendRequests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.friendRequestList {
  list-style: none;
}

.friendRequestList.hide {
  opacity: 0;
  display: none;
}

.friendRequestListItem {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.friendRequestListItem button {
  all: unset;
  border-bottom: 1px solid;
  cursor: pointer;
}

.friendRequestsListButton {
  all: unset;
  cursor: pointer;
  height: 80px;
  transition: all ease 1s;
  border-bottom: 1px solid rgba(114, 114, 114, 0.2);
}

.friendRequestsListButton:hover {
  border-bottom: 1px solid rgb(114, 114, 114);
}

.chevron {
  width: 25px;
  transform: translateY(1px);
}

.friendsContent {
}

.friend {
  list-style: none;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  margin-bottom: 2px;
}

.messageHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.messageText {
  margin-left: 10px;
}

.online {
  border: 2px solid;
  border-color: rgba(75, 74, 74, 0.5);
  width: 20px;
  height: 10px;
  background-color: rgb(116, 175, 116);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 20px, 20px, 20px, rgba(114, 114, 114, 0.2);
}

body.light-theme .online {
  background-color: rgba(99, 190, 111, 0.5);
  border-color: rgb(155, 155, 155);
}

.date {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border-bottom: solid 1px grey;
}

.initialTime {
  font-weight: 200;
  border-bottom: 1px solid;
}

.main {
  display: flex;
  gap: 20px;
  padding-right: 30vw;
  padding-left: 13vw;
  margin-left: auto;
}

.timeElapsed {
  display: flex;
  border-bottom: 1px solid;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  top: -5px;
}

.mainChat {
  width: 100%;
  margin: 0 auto;
  max-height: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  z-index: 0;
}

.mainContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 12vw;
  gap: 20px;
}

.sendMessage {
}



.sideBar {
  margin-left: -75px;
  transform: translateY(20px);
  transition: width 0.3s ease;
}


.sideBarSearch{
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 1s ease;
  background-color: grey;
  border:none;
  width: 20px;
  height: 33px;
  border-radius: 10px;
  color:white
}

body.light-theme .sideBarSearch{
  color: black;
  background-color: #9e9e9e;
}

.sideBarSearch:focus{
  width:700%;
  padding-left: 40px;
  border: none;
  outline: none;
  box-shadow: none;
  border-color: grey;
}

button.sideBarSearchButton{
  cursor: pointer;
}

.sideBarSearchIcon{
  width:auto;
  height:23px;
  position: absolute;
  background-color: gray;
  border-radius: 10px;
  padding:5px;
  pointer-events: none;
}

body.light-theme .sideBarSearchIcon{
    background-color: #9e9e9e;
}

.sideBarProfilePicture{
  width: auto;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
}

.friendsContent {
  width: 100%;
  margin-left: 6%;
}

.friendsListComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendsListItemButton {
  all: unset;
  border-bottom: 1px solid rgba(114, 114, 114, 0.2);
  cursor: pointer;
  transition: all 1s ease;
}

.friendsListItemButton:hover {
  border-color: rgb(114, 114, 114);
}

.friendsList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.friendsList a {
  all: unset;
  cursor: pointer;
  text-align: center;
  padding: 3px;
  padding-left: 9px;
  transition: all 0.7s ease;
  border-radius: 15px;
}

body.light-theme .Menu button.logout.menu-item {
  color: rgb(73, 73, 73);
}

.friendsList a:hover {
  background-color: #3a3a3a;
}

.friendsListButton {
  all: unset;
  height: 75px;
  border-bottom: 1px solid rgba(114, 114, 114, 0.2);
  cursor: pointer;
  transition: all 1s ease;
}

.friendsListButton:hover {
  border-bottom: 1px solid rgb(114, 114, 114);
}

.friendsList.hide {
  display: none;
}

.friend {
  display: flex;
  gap: 30px;
}

.userProfilePage button {
  all: unset;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid;
  cursor: pointer;
}

.userProfilePage .block {
  color: rgba(250, 105, 105, 0.603);
}

body.light-theme .userProfilePage .block {
  color: rgba(117, 11, 11, 0.877);
}

.userProfilePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10vw;
  display: flex;
}

.userHeader{
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}

.profileImage{
  width: auto;
  height: 50px;
  border-radius: 10px;
}

button.editProfilePicture{
  position: absolute;
  transform: translateX(-100px)
}

.aboutMePopup {
  position: absolute;
  color:#f0f0f0;
  background-color: rgb(131, 131, 131);
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translate(50%, -150%);
  opacity: 0;
  animation: fadeInOut 1.5s forwards;
}

body.light-theme .aboutMePopup {
  color:rgb(56, 56, 56);
  background-color: rgb(177, 177, 177);
}

.profilePicturePopup{
   position: absolute;
  color:#f0f0f0;
  background-color: rgb(131, 131, 131);
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  animation: profilePictureFadeInOut 1.5s forwards;
}

.profileStatus {
}

.userProfilePermission {
}

.userProfileNoPermission {
}

.signupComponent {
  display: flex;
  flex-direction: column;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.field {
  display: flex;
  gap: 10px;
  align-items: center;
}

.assimilateButton {
  all: unset;
  border-radius: 15px;
  background-color: #6d6d6d;
  text-align: center;
  width: 30%;
  border: 1px solid;
  border-color: var(--border-color-dark);
  transition: all 1s ease;
  cursor: pointer;
}

body.light-theme .assimilateButton {
  border-color: var(--border-color-light);
  background-color: rgba(167, 167, 167, 0.5);
}

.assimilateButton:hover {
  background-color: rgba(146, 146, 146, 0.5);
}

body.light-theme .assimilateButton:hover {
  background-color: rgba(128, 128, 128, 0.692);
}

.signupInput {
  all: unset;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--border-color-dark);
  background-color: rgba(194, 194, 194, 0.856);
  padding-left: 20px;
  height: 30px;
  transition: all 0.5s ease;
}

.signupInput:focus {
  background-color: #6d6c6c;
}

a.signup {
  height: 20px;
}

body.light-theme .signupInput:focus {
  background-color: rgba(139, 139, 139, 0.644);
}

body.light-theme .signupInput {
  border-color: var(--border-color-light);
}

.signupHeader {
  color: rgba(255, 255, 255, 0.623);
}

body.light-theme .signupHeader {
  color: rgba(0, 0, 0, 0.5);
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #888 rgba(139, 139, 139, 0.05);
}
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar:onclick {
  color: blue;
}

.scroll-container::-webkit-scrollbar-track {
  background: rgba(139, 139, 139, 0.05);
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.sendMessageInput:focus {
  outline: none;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fadeInStaggered {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeSlideIn 0.8s ease-out forwards;
  animation-delay: 0.5s;
}

.fadeInStaggered--1 {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeSlideIn 0.8s ease-out forwards;
  animation-delay: 0.9s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  50% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(50%, -150%) scale(0.9);
  }
  10% {
    opacity: 1;
    transform: translate(50%,-150%) scale(1);
  }
  90% {
    opacity: 1;
    transform: translate(50%, -150%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(50%, -150%) scale(0.9);
  }
}

@keyframes profilePictureFadeInOut {
  0% {
    opacity: 0;
    transform: translate(-800%, -160%) scale(0.9);
  }
  10% {
    opacity: 1;
    transform: translate(-800%,-160%) scale(1);
  }
  90% {
    opacity: 1;
    transform: translate(-800%, -160%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-800%, -160%) scale(0.9);
  }
}
