:root {
  --primary-color: rgba(243, 237, 237, 0.8);
}

body {
 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgba(8, 11, 24, 0.76);
  list-style-type: none;
  color: var(--primary-color);
}

.MessageList {
  list-style-type: none;
  width: 30vw;
}

.message {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -40px;
  animation: slideIn 0.2s ease-in-out forwards;
}

.username {
  font-weight: bolder;
  font-size: 1.1em;
}

.websiteHeader {
  display: flex;
  align-items: center;
  gap: 50px;
}

.userProfile {
  margin-left: auto;
}

.DropDown {
  position: relative;
}

.Menu {
  position: absolute;
  animation: appear 1s;
}

.signup {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bolder;
}

.searchBar {
  position: relative;
}

.searchResults {
  position: absolute;
}

.main{
  display: flex;
  gap: 20px;
  margin-right: 25vw;
}

.mainChat{

}

.sideBar {
  transform: translateY(20px);
  margin-right: auto;
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  50% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0); 
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
